{%extends "base.html"%}
{%load static %}
{%block conteudo %}


    <div class="container">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Cidade</th>
            <th scope="col">Localidade</th>
            <th scope="col">Porte</th>
            <th scope="col">Mais informações</th>
          </tr>
        </thead>
        <tbody>
           {%for pet in pets%} 
          <tr>
            <th scope="row">{{pet.id}}</th>
            <th><img src="{{pet.foto}}" class="img-thumbnail" width="50" height="50"></th>
            <td>{{pet.cidade}}</td>
            <td>{{pet.localidade}}</td>
            <td>{{pet.porte}}</td>
            <td><a href="{% url 'mais_informacoes' id=pet.id %}">Mais informação</a> </td>
          </tr>
        
          {%endfor%}
        </tbody>
      </table>
    
    </div>
{% endblock conteudo %}