{%extends "base.html"%}
{% load widget_tweaks %}
{%block conteudo%}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Cidade</label>
                        <input type="text" name="cidade" id="cidade" value="{{form.cidade}}" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Localidade</label>
                        <input type="text" name="localidade" id="localidade" value="{{form.localidade}}" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Adotado ou encontrou tutor?</label>
                        <input type="text" name="adotado" id="adotado" value="{{form.get_adotado}}" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <!-- {% for item in form.photos.all %} -->
                         <img src="#" alt="" width="150px" height="150px" />
                        <!-- {%endfor%} --> 
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="text-right">
                    <a href="{% url 'index' %}" class="btn btn-secondary text-white">Cancelar</a>
                    <button class="btn btn-primary" type="submit">Editar</button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{%endblock conteudo%}